.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button {
    padding: 16px 32px;
    background-color: rgba(0, 85, 255, 0.86);
    border-radius: 8px;
    color: white;
}

.button:hover,
.button:focus {
    background-color: blue;
}


.reset {
    background-color: rgb(199, 16, 16);
}

.reset:hover,
.reset:focus {
    background-color: red;
    outline: rgb(199, 16, 16);
}